<link rel="import" href="/local/custom_ui/components/sprinkler/sprinkler-zone.html" async>

<dom-module id='ha-panel-sprinkler'>
  <template>
    <style include="iron-flex ha-style">
        .content {
            padding: 0 16px 16px;
        }
    </style>
    <app-header-layout has-scrolling-region>
      <app-header slot="header" fixed>
        <app-toolbar>
          <ha-menu-button narrow='[[narrow]]' show-menu='[[showMenu]]'></ha-menu-button>
          <div main-title>Locsolás</div>
        </app-toolbar>
      </app-header>

      <div class="content">
        <paper-dropdown-menu label="Zones">
          <paper-listbox
            slot="dropdown-content"
            selected="{{ selectedZoneIndex }}"
            on-selected-item-changed="selectZone"
          >
            <template is="dom-repeat" id="zoneList" items="[[ zones ]]" as="zone">
              <paper-item>[[ zone.name ]]</paper-item>
            </template>
          </paper-listbox>
        </paper-dropdown-menu>
        <array-selector
          id="selector"
          items="{{ zones }}"
          selected="{{ selectedZone }}"
        ></array-selector>

        <paper-button raised on-click="save">Save</paper-button>
        <!-- TODO copy, paste -->

        <sprinkler-zone schedules="{{ selectedZone.schedules }}"></sprinkler-zone>
      </div>
    </app-header-layout>
  </template>
  <script>
  class HaPanelSprinkler extends Polymer.Element {
    static get is() { return "ha-panel-sprinkler"; }

    static get properties() {
      return {
        hass: { type: Object, },
        narrow: { type: Boolean, },
        showMenu: { type: Boolean, value: true, },
        panel: { type: Object },
        zones: {
          type: Array,
          // { name: ..., schedules: [...]}
        },
        selectedZoneIndex: {
          type: Number,
          value: 0,
        },
        selectedZone: {
          type: Object,
        },
      }
    }

    ready() {
      super.ready();

      const mqttSensorState = this.hass.states["sensor.sprinkler_schedules"];
      if (!mqttSensorState) {
        this.logError('mqtt sensor not found');
        return;
      }
      const storedZones = mqttSensorState.attributes.zones || [];

      const switchNames = this.hass.states['group.sprinkler'].attributes.entity_id;
      const switches = switchNames.map(switchName => this.hass.states[switchName]);
      const zones = switches.map(sw => {
        const storedZone = storedZones.find(storedZone => storedZone.switch === sw.entity_id);

        return {
          'switch': sw.entity_id,
          name: sw.attributes.friendly_name,
          schedules: storedZone ? storedZone.schedules : [[], [], [], [], [], [], []],
        };
      });

      this.set('zones', zones);
    }

    save(event) {
      this.hass.callService('mqtt', 'publish', {
        topic: "sprinkler/zones",
        retain: true,
        payload: JSON.stringify(
          {
            state: "ok",
            zones: this.zones
          },
          null,
          2
        ),
      });
    }

    selectZone(event) {
      const item = this.$.zoneList.itemForElement(event.detail.value);
      this.$.selector.select(item);
    }

    logError(message) {
      this.hass.callService('system_log', 'write', {
        message: 'SPRINKLER: ' + message,
      });
    }
  }

  customElements.define(HaPanelSprinkler.is, HaPanelSprinkler);
  </script>
</dom-module>
