<link
    rel="import"
    href="/local/custom_ui/components/sprinkler/sprinkler-schedule-entry.html"
    async
>

<dom-module id="sprinkler-schedule">
    <style>
      .container {
        margin-right: 50px;
        margin-bottom: 50px;
      }
      .time-input {
        width: 250px;
      }
    </style>
    <template>
        <div class="container">
          <table>
            <thead>
                <tr>
                    <th colspan="2">
                        <h3>[[ dayName ]]</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO restamp ha mergelték polymerbe #2 -->
                <template is="dom-repeat"
                    id="schedule"
                    items="{{ schedule }}" as="entry"
                    sort="sortEntries"
                >
                    <tr>
                        <td class="time-input">
                            <sprinkler-schedule-entry
                                on="{{ entry.on }}"
                                off="{{ entry.off }}"
                                on-focusout="triggerReSort"
                            ></sprinkler-schedule-entry>
                        </td>
                        <td>
                            <paper-icon-button
                                icon="mdi:close-circle"
                                on-click="deleteEntry"
                            ><paper-icon-button>
                        </td>
                    </tr>
                </template>
            </tbody>
            <tfoot>
                <tr>
                    <td class="time-input">
                        <paper-icon-button
                            icon="mdi:content-copy"
                            on-click="copy"
                        ></paper-icon-button>
                        <paper-icon-button
                            icon="mdi:content-paste"
                            on-click="paste"
                        ></paper-icon-button>
                    </td>
                    <td>
                        <paper-icon-button
                            icon="mdi:plus-box"
                            on-click="addEntry"
                        ></paper-icon-button>
                    </td>
                </tr>
            </tfoot>
        </table>
      </div>
    </template>
    <script>
        class SprinklerSchedule extends Polymer.Element {
            static get is() { return 'sprinkler-schedule'; }
            static get properties() {
                return {
                    dayIndex: {
                        type: Number,
                    },
                    dayName: {
                        type: String,
                        computed: 'dayOfWeekAsString(dayIndex)'
                    },
                    schedule: {
                        type: Array,
                    },
                }
            }

            deleteEntry(event) {
                this.splice('schedule', event.model.index, 1);
            }

            addEntry(event) {
                this.push('schedule', {
                    on: '10:00',
                    off: '11:00',
               });
            }

            copy(event) {
                this.dispatchEvent(new CustomEvent('copy', {
                  detail: this.schedule
                }));
            }

            paste(event) {
                this.dispatchEvent(new CustomEvent('paste', {
                  detail: this.dayIndex,
                }));
            }

            sortEntries(a, b) {
                const parseTime = timeString => {
                    const [hour, minute] = timeString.split(':').map(str => parseInt(str));

                    return {
                        hour: hour,
                        minute: minute
                    };
                }

                const aOn = parseTime(a.on);
                const bOn = parseTime(b.on);

                return (aOn.hour - bOn.hour) * 60 + (aOn.minute - bOn.minute);
            }

            triggerReSort(event) {
                this.schedule.sort(this.sortEntries);
                this.$.schedule.render();
            }

            dayOfWeekAsString(dayIndex) {
              const daysOfWeek = [
                "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"
              ];
              return daysOfWeek[dayIndex];
            }}

        customElements.define(SprinklerSchedule.is, SprinklerSchedule);
    </script>
</dom-module>
