<link rel="import" href="/local/custom_ui/components/sprinkler/sprinkler-schedule.html" async>

<dom-module id="sprinkler-zone">
    <template>
        <style include="iron-flex"></style>

        <div class="layout horizontal wrap center-justified">
          <template is="dom-repeat" items="[[ schedules ]]" as="day">
            <sprinkler-schedule
                day-index="[[ index ]]"
                schedule="{{ day }}"
                on-copy="copySchedule"
                on-paste="pasteSchedule"
            ></sprinkler-schedule>
          </template>
        </div>
    </template>
    <script>
        class SprinklerZone extends Polymer.Element {
            static get is() { return 'sprinkler-zone'; }
            static get properties() {
                return {
                    schedules: {
                        type: Array,
                    },
                    clipboard: {
                        type: Array,
                    },
                }
            }

            copySchedule(event) {
                this.clipboard = JSON.parse(JSON.stringify(event.detail));
            }

            pasteSchedule(event) {
                if (Array.isArray(this.clipboard) && this.clipboard.length) {
                    this.set(
                        `schedules.${event.detail}`,
                        JSON.parse(JSON.stringify(this.clipboard))
                    );
                }
            }
        }

        customElements.define(SprinklerZone.is, SprinklerZone);
    </script>
</dom-module>
