<dom-module id="sprinkler-schedule-entry">
    <template>
        <style include="iron-flex"></style>

        <div class="layout horizontal" style="align-items: center;">
            <!-- TODO validáció, min/max értékek -->
            <paper-input type="time" value="{{ on }}"></paper-input>
            <span> - </span>
            <paper-input type="time" value="{{ off }}"></paper-input>
        </div>
    </template>
    <script>
        class SprinklerScheduleEntry extends Polymer.Element {
            static get is() { return 'sprinkler-schedule-entry'; }
            static get properties() {
                return {
                    on: {
                        type: String,
                        notify: true,
                    },
                    off: {
                        type: String,
                        notify: true,
                    },
                }
            }

            // TODO https://medium.com/@ellenaua/input-validation-in-google-polymer-293eb7f785b
        }

        customElements.define(SprinklerScheduleEntry.is, SprinklerScheduleEntry);
    </script>
</dom-module>
